<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Simple (Sample) App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="/static_pages/home">Home</a></li>
        <li class=""><a href="/static_pages/help">Help</a></li>
        <li class=""><a href="/static_pages/about">About us</a></li>
      </ul>
    </div>



  <div class="container">
    <%= yield %>
  </div>

<br />

<div class="container">
  <footer>
    <p><strong>Ruby on Rails Tutorial Simple (Sample) App | <%= yield(:title) %></strong></p>
  </footer>
</div>

</body>
</html>
